# Ignorer les dépendances installées
node_modules/

# Ignorer les fichiers logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer les fichiers environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignorer les fichiers de construction
dist/
build/

# Ignorer les fichiers système et IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
